# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# Jupyter
.ipynb_checkpoints/

# Vector DB / Generated Data
*.db
*.sqlite
chroma_db/
vector_store/

# IDE
.idea/
.vscode/

# Logs
*.log

# OS
.DS_Store